@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: blueviolet;
    overflow-x: hidden;
}

picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

#box-number {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    background: white;
    border-radius: 6px;
    text-align: center;
}

.number {
    color: #304D63;
    font-weight: 700;
    font-size: 50px;
}

#box-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
}

.buttons {
    color: #304D63;
    background: white;
    padding: 6px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

